
{% extends 'baseuser/base.html' %}
{% block body %}

<section class="mb-4">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            
            <a href="{% url 'home:index' %}" class="text-decoration-none">ucuzcebim<span class="text-primary">.com</span></a>

          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
           Online dükkanımızda, en iyi hizmeti sunmak için sürekli çalışıyoruz ve sizin memnuniyetiniz her zaman önceliğimizdir.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <span class="text-primary text-center mt-3">Giriş yap</span>
            <div class="card-body py-5 px-md-5">
              <form method="POST">
                {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
              
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3" name="username" placeholder="E-Posta" class="form-control" />
                  <!--<label class="form-label" for="form3Example3">Email address</label>-->
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" placeholder="Şifre" name="password" class="form-control" />
                  <!--  <label class="form-label" for="form3Example4">Password</label> -->
                </div>
              
                <!-- Checkbox 
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Haber bültenimize abone ol
                  </label>
                </div>
                -->
                
                <!-- Submit button -->
                <div class="d-flex align-items-center justify-content-between">
                  <button type="submit" class="btn btn-primary btn-block mb-4">GİRİŞ YAP</button>
                  <h6> <a href="{% url 'user:Register' %}" class="text-decoration-none">Hesabım yok kayıt olmak istiyorum.</a></h6>
                </div>
                
                <!-- Register buttons -->
                <div class="text-center">
                  <p>
                    Bizi Takip Edin
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fa fa-heart" style="color:red"></i>
                    </button>
                  </p>
                         <!-- Checkbox 
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fa fa-snapchat"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fa fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fa fa-twitter"></i>
                  </button>
              buttons -->
              <a href="https://www.instagram.com/ucuzcebimcom/" class="text-decoration-none btn btn-link btn-floating mx-1" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
                </div>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
{% endblock body %}
