
<div class="modal-body">
  <form  method="post" action="{% url 'chat:messages' user.author.id %}  "  enctype="multipart/form-data">
     {% csrf_token %}
    



  <!-- message -->
  <input type="hidden" name="receiver" value="{{user.author.id}}">
  <div class="form-group">
    <textarea name="content" class="form-control" placeholder="Mesajınız..." rows="3"></textarea>
  </div>
  <!-- message -->
  

  <div class="d-grid gap-1 d-md-flex justify-content-md-center">
    {% if request.user.is_authenticated %}
    <button type="submit" class="btn btn-info d-block mt-2 w-100">Mesajı Gönder</button>
    {% else %}
    <button type="button" disabled class="btn btn-info d-block w-100 mt-2">Mesajı Gönder</button>
    {% endif %}
    {% comment %}<button type="button" class="btn btn-danger d-block" data-bs-dismiss="modal">İptal</button>{% endcomment %}
  </div>
  </form>
</div>








  

