{% load static %}

<div class="modal-body">
    <form  method="post" action="{% url 'user:User_Info_Update' request.user.id %}"  enctype="multipart/form-data">
       {% csrf_token %}
          <!-- formFile -->
          <div class="row">
            <div class="col-md-2 mb-4 col-2">
              <div class="form-outline">
                <label class="form-label" for="form3Example1">Profil Resmi</label>
              </div>
            </div>
            <div class="col-md-10 mb-4 col-10">
              <div class="form-outline">
                <input class="form-control" type="file"  name="avatar">
                <!--  <label class="form-label" for="form3Example2">Last name</label>-->
              </div>
            </div>
          </div>
          <!-- formFile -->
          <!-- Telefon Numarası -->
          <div class="row">
            <div class="col-md-6 mb-4 col-6">
              <div class="form-outline">
            <input type="number" placeholder="Cep Numarası" class="form-control" name="mobile_phone">
              </div>
            </div>
            <div class="col-md-6 mb-4 col-6">
              <div class="form-outline">
                <input type="number" placeholder="İş Numarası" class="form-control" name="office_phone" >
              </div>
            </div>
          </div>
    <!-- Telefon Numarası -->

<!-- İl ve ilçe Başlangıç -->
<div class="row">
  <div class="col-md-6 mb-4 col-6">
    <div class="form-outline">
      <input type="text" placeholder="İl" class="form-control" name="city">
    </div>
  </div>
  <div class="col-md-6 mb-4 col-6">
    <div class="form-outline">
      <input type="text" placeholder="İlçe" class="form-control" name="district">
      <!--  <label class="form-label" for="form3Example2">Last name</label>-->
    </div>
  </div>
</div>
<!--  İl ve İçe Bitiş-->


<!--  Sosyal medya  başlangç-->
<div class="row">

  <div class="col-md-3 mb-4 col-3">
    <div class="form-outline">
      <input type="text" placeholder="İnstagram" class="form-control" name="social_media_instagram">
    </div>
  </div>

  <div class="col-md-3 mb-4 col-3">
    <div class="form-outline">
      <input type="text" placeholder="Twitter" class="form-control" name="social_media_twitter">
      <!--  <label class="form-label" for="form3Example2">Last name</label>-->
    </div>
  </div>

    <div class="col-md-3 mb-4 col-3">
    <div class="form-outline">
      <input type="text" placeholder="Tiktok" class="form-control" name="social_media_tiktok">
      <!--  <label class="form-label" for="form3Example2">Last name</label>-->
    </div>
  </div>


    <div class="col-md-3 mb-4 col-3">
    <div class="form-outline">
      <input type="text" placeholder="Facebook" class="form-control" name="social_media_facebook">
      <!--  <label class="form-label" for="form3Example2">Last name</label>-->
    </div>
  </div>

</div>
<!--  Sosyal medya  Bitiş-->


    <!-- address -->
    <div class="mb-3">
      <textarea class="form-control" placeholder="Açık Adres" name="address"></textarea>
    </div>
  <!-- address -->
          <!-- biography -->
          <div class="row">
            <div class="col-md-12 mb-4 col-12">
              <div class="form-outline">
                <input type="text"  placeholder="Profil Açıklaması"  name="biography"  class="form-control" />
              </div>
            </div>
          </div>
          <!-- biography -->


    <div class="d-grid gap-3 d-md-flex justify-content-md-center">
        <button type="submit" class="btn btn-warning d-block ">Bilgilerimi Güncelle</button>
        <button type="button" class="btn btn-danger d-block " data-bs-dismiss="modal">İptal</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    {% comment %} <button type="submit" class="btn btn-primary">
      GİRİŞ YAP
    </button> {% endcomment %}

    {% comment %} <a href="{% url 'user:User_Info_Save'  %}" class="btn btn-warning d-block mt-1">Düzenle</a> {% endcomment %}

  </div>